In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vehicle_maintenance_data.csv')

In [3]:
df

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,23-11-2023,24-06-2025,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,21-09-2023,04-06-2025,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,27-06-2023,27-04-2025,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,24-08-2023,05-11-2025,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,25-05-2023,14-09-2025,Third,16446,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,24-11-2023,15-09-2025,Third,5217,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,14-07-2023,21-01-2025,Second,15856,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,09-09-2023,09-11-2024,First,6019,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,26-08-2023,22-05-2025,Third,5030,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,25-07-2023,06-06-2024,Third,9171,6,3,16.328945,Good,New,Good,0

# EDA

DATA DESCRIPTION

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  object
 1   mileage               50000 non-null  int64
 2   maintenance_history   50000 non-null  object
 3   reported_issues       50000 non-null  int64
 4   vehicle_age           50000 non-null  int64
 5   fuel_type             50000 non-null  object
 6   transmission_type     50000 non-null  object
 7   engine_size           50000 non-null  int64
 8   odometer_reading      50000 non-null  int64
 9   last_service_date     50000 non-null  object
 10  warranty_expiry_date  50000 non-null  object
 11  owner_type            50000 non-null  object
 12  insurance_premium     50000 non-null  int64
 13  service_history       50000 non-null  int64
 14  accident_history      50000 non-null  int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  object
 17  brake_condition       50000 non-null  object
 18  battery_status        50000 non-null  object
 19  need_maintenance      50000 non-null  int64
dtypes: float64(1), int64(9), object(10)
memory usage: 7.6+ MB

In [9]:
# lowercase all column names
df.columns = [column.lower() for column in df.columns]

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,23-11-2023,24-06-2025,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,21-09-2023,04-06-2025,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,27-06-2023,27-04-2025,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,24-08-2023,05-11-2025,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,25-05-2023,14-09-2025,Third,16446,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,24-11-2023,15-09-2025,Third,5217,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,14-07-2023,21-01-2025,Second,15856,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,09-09-2023,09-11-2024,First,6019,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,26-08-2023,22-05-2025,Third,5030,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,25-07-2023,06-06-2024,Third,9171,6,3,16.328945,Good,New,Good,0