In [34]:
import pandas as pd
import numpy as np
import os
import logging
from vmpred.util.util import read_parquet, read_yaml_file

pd.set_option('display.max_columns', None)

In [44]:
df1 = read_parquet('data/validatedData/validated_data.parquet')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  category
 1   mileage               50000 non-null  Int64
 2   maintenance_history   50000 non-null  category
 3   reported_issues       50000 non-null  Int64
 4   vehicle_age           50000 non-null  Int64
 5   fuel_type             50000 non-null  category
 6   transmission_type     50000 non-null  category
 7   engine_size           50000 non-null  Int64
 8   odometer_reading      50000 non-null  Int64
 9   last_service_date     50000 non-null  datetime64[ns]
 10  warranty_expiry_date  50000 non-null  datetime64[ns]
 11  owner_type            50000 non-null  category
 12  insurance_premium     50000 non-null  float64
 13  service_history       50000 non-null  Int64
 14  accident_history      50000 non-null  Int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  category
 17  brake_condition       50000 non-null  category
 18  battery_status        50000 non-null  category
 19  need_maintenance      50000 non-null  Int64
dtypes: Int64(8), category(8), datetime64[ns](2), float64(2)
memory usage: 5.3 MB

In [47]:


df2 = read_parquet('data/transformedData/trainData/train_data.parquet')

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37500 entries, 17481 to 24519
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   mileage                      37500 non-null  float64
 1   reported_issues              37500 non-null  float64
 2   vehicle_age                  37500 non-null  float64
 3   engine_size                  37500 non-null  float64
 4   odometer_reading             37500 non-null  float64
 5   insurance_premium            37500 non-null  float64
 6   service_history              37500 non-null  float64
 7   accident_history             37500 non-null  float64
 8   fuel_efficiency              37500 non-null  float64
 9   time_since_last_service      37500 non-null  float64
 10  warranty_duration            37500 non-null  float64
 11  mileage_per_year             37500 non-null  float64
 12  service_frequency            37500 non-null  float64
 13  accident_rate                37500 non-null  float64
 14  vehicle_model_Bus            37500 non-null  float64
 15  vehicle_model_Car            37500 non-null  float64
 16  vehicle_model_Motorcycle     37500 non-null  float64
 17  vehicle_model_SUV            37500 non-null  float64
 18  vehicle_model_Truck          37500 non-null  float64
 19  vehicle_model_Van            37500 non-null  float64
 20  maintenance_history_1        37500 non-null  float64
 21  maintenance_history_2        37500 non-null  float64
 22  maintenance_history_3        37500 non-null  float64
 23  fuel_type_Diesel             37500 non-null  float64
 24  fuel_type_Electric           37500 non-null  float64
 25  fuel_type_Petrol             37500 non-null  float64
 26  transmission_type_Automatic  37500 non-null  float64
 27  transmission_type_Manual     37500 non-null  float64
 28  owner_type_First             37500 non-null  float64
 29  owner_type_Second            37500 non-null  float64
 30  owner_type_Third             37500 non-null  float64
 31  tire_condition_1             37500 non-null  float64
 32  tire_condition_2             37500 non-null  float64
 33  tire_condition_3             37500 non-null  float64
 34  brake_condition_1            37500 non-null  float64
 35  brake_condition_2            37500 non-null  float64
 36  brake_condition_3            37500 non-null  float64
 37  battery_status_1             37500 non-null  float64
 38  battery_status_2             37500 non-null  float64
 39  battery_status_3             37500 non-null  float64
 40  need_maintenance             37500 non-null  Int64
dtypes: Int64(1), float64(40)
memory usage: 12.1 MB

In [48]:
df2

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,time_since_last_service,warranty_duration,mileage_per_year,service_frequency,accident_rate,vehicle_model_Bus,vehicle_model_Car,vehicle_model_Motorcycle,vehicle_model_SUV,vehicle_model_Truck,vehicle_model_Van,maintenance_history_1,maintenance_history_2,maintenance_history_3,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol,transmission_type_Automatic,transmission_type_Manual,owner_type_First,owner_type_Second,owner_type_Third,tire_condition_1,tire_condition_2,tire_condition_3,brake_condition_1,brake_condition_2,brake_condition_3,battery_status_1,battery_status_2,battery_status_3,need_maintenance
17481,0.045950,-0.876318,0.176565,-0.886280,0.609636,1.537473,-0.179333,-0.448022,-0.529043,-1.666642,0.263491,-0.440709,-0.425000,-0.463372,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0
7663,-1.521149,-0.876318,1.567554,1.503508,-0.934610,0.372496,-0.875017,-0.448022,-0.460301,0.004540,-0.956746,-0.823250,-0.713497,-0.575720,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
28828,-0.143054,-0.291099,1.219806,-0.886280,-1.527819,0.762068,0.516350,0.445235,0.259993,-1.346848,0.298073,-0.658243,-0.455051,-0.369748,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
17722,1.608397,0.879338,-0.518929,1.503508,0.700915,-0.027458,-1.222859,-0.448022,-1.701939,-0.439045,0.816797,0.217371,-0.605310,-0.322936,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1
20318,1.656516,-1.461536,1.219806,-1.204918,0.183087,-0.161884,0.168508,-1.341279,0.986257,-0.016091,-0.902404,-0.473508,-0.515155,-0.744243,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,0.112331,-1.461536,0.524312,0.706912,0.827773,-1.030044,-1.222859,-1.341279,0.003356,-1.068317,-1.342084,-0.516861,-0.721224,-0.744243,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1
9803,-0.363930,-1.461536,-1.562170,-1.204918,-0.644643,-1.388605,-0.179333,0.445235,-1.471188,0.344966,1.177434,2.152576,1.828884,2.626207,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
14544,-1.639884,-0.291099,-0.171182,1.503508,0.697550,0.441993,-0.527175,-1.341279,-0.643030,-0.779471,-1.159296,-0.633336,-0.443031,-0.744243,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1
30244,1.440640,-0.876318,0.176565,-0.886280,-1.462882,-0.765761,-0.527175,-1.341279,-0.032234,1.314665,-1.183997,-0.225952,-0.515155,-0.744243,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0
24519,-1.204590,-0.291099,0.872059,-1.204918,-1.698750,0.642317,0.864192,-0.448022,1.403169,-1.088949,-0.882643,-0.733728,-0.334844,-0.533589,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1

In [2]:
df = pd.read_parquet('data/validatedData/validated_data.parquet', engine="pyarrow")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  category
 1   mileage               50000 non-null  Int64
 2   maintenance_history   50000 non-null  category
 3   reported_issues       50000 non-null  Int64
 4   vehicle_age           50000 non-null  Int64
 5   fuel_type             50000 non-null  category
 6   transmission_type     50000 non-null  category
 7   engine_size           50000 non-null  Int64
 8   odometer_reading      50000 non-null  Int64
 9   last_service_date     50000 non-null  datetime64[ns]
 10  warranty_expiry_date  50000 non-null  datetime64[ns]
 11  owner_type            50000 non-null  category
 12  insurance_premium     50000 non-null  float64
 13  service_history       50000 non-null  Int64
 14  accident_history      50000 non-null  Int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  category
 17  brake_condition       50000 non-null  category
 18  battery_status        50000 non-null  category
 19  need_maintenance      50000 non-null  Int64
dtypes: Int64(8), category(8), datetime64[ns](2), float64(2)
memory usage: 5.3 MB

In [3]:
df

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

# DATA INGESTION

# EDA

DATA DESCRIPTION

In [4]:
df.shape

(50000, 20)

In [5]:
df

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [6]:
df.isnull().sum()

vehicle_model           0
mileage                 0
maintenance_history     0
reported_issues         0
vehicle_age             0
fuel_type               0
transmission_type       0
engine_size             0
odometer_reading        0
last_service_date       0
warranty_expiry_date    0
owner_type              0
insurance_premium       0
service_history         0
accident_history        0
fuel_efficiency         0
tire_condition          0
brake_condition         0
battery_status          0
need_maintenance        0
dtype: int64

In [7]:
df.drop_duplicates()

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [8]:
df.dropna()

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [14]:
schema = read_yaml_file('config/schema.yaml')

In [22]:
type(schema['target_column'][0])

str

In [ ]:
schema[]

AttributeError: 'dict' object has no attribute 'target_column'

In [23]:
df

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [24]:
TARGET_VARIABLE = schema['target_column'][0]
y = df[TARGET_VARIABLE]
X = df.drop(TARGET_VARIABLE, axis=1)

In [29]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [32]:
# Identify numerical and categorical features
numerical_cols = X.select_dtypes(include=np.number).columns
categorical_cols = X.select_dtypes(include=['category']).columns

# Create a column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), categorical_cols)
    ])

# Apply transformations
X_processed = preprocessor.fit_transform(X)

#Get feature names for OneHotEncoder
encoded_feature_names = list(preprocessor.named_transformers_['cat'].get_feature_names_out(categorical_cols))

#Combine feature names
feature_names = list(numerical_cols) + encoded_feature_names

#Create DataFrame with preserved column names
X_processed = pd.DataFrame(X_processed, columns=feature_names)

In [35]:
X_processed

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,vehicle_model_Bus,vehicle_model_Car,vehicle_model_Motorcycle,vehicle_model_SUV,vehicle_model_Truck,vehicle_model_Van,maintenance_history_Average,maintenance_history_Good,maintenance_history_Poor,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol,transmission_type_Automatic,transmission_type_Manual,owner_type_First,owner_type_Second,owner_type_Third,tire_condition_Good,tire_condition_New,tire_condition_Worn Out,brake_condition_Good,brake_condition_New,brake_condition_Worn Out,battery_status_Good,battery_status_New,battery_status_Weak
0,0.266201,-1.461536,-0.518929,0.706912,-1.091430,0.459160,0.168508,1.338492,-0.474127,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.376465,-0.876318,0.524312,1.503508,1.347922,0.833918,0.516350,-1.341279,-0.473052,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.912441,-1.461536,-1.214423,-0.089684,-0.963830,0.071111,0.516350,-1.341279,-0.237050,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.410906,0.879338,-0.171182,1.503508,0.141219,-1.556810,0.516350,1.338492,1.288884,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,-0.638063,1.464556,-1.562170,0.706912,0.501554,-0.141118,0.168508,0.445235,0.688658,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1.548266,0.294119,0.176565,1.503508,0.507171,-1.695666,-0.527175,-0.448022,-1.605593,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
49996,-0.013140,0.879338,-0.518929,-1.204918,-1.441948,-0.222798,-0.527175,-0.448022,-0.022977,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
49997,1.435224,-1.461536,-0.518929,-0.089684,1.144174,-1.584637,1.559876,-1.341279,1.687343,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
49998,0.781138,-0.876318,0.524312,1.503508,0.641270,-1.721554,-0.527175,1.338492,-1.479705,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
49999,1.157758,-1.461536,1.567554,0.706912,-0.228144,-1.148272,0.168508,1.338492,0.463905,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [36]:
X_processed[TARGET_VARIABLE] = y

In [37]:
X_processed

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,vehicle_model_Bus,vehicle_model_Car,vehicle_model_Motorcycle,vehicle_model_SUV,vehicle_model_Truck,vehicle_model_Van,maintenance_history_Average,maintenance_history_Good,maintenance_history_Poor,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol,transmission_type_Automatic,transmission_type_Manual,owner_type_First,owner_type_Second,owner_type_Third,tire_condition_Good,tire_condition_New,tire_condition_Worn Out,brake_condition_Good,brake_condition_New,brake_condition_Worn Out,battery_status_Good,battery_status_New,battery_status_Weak,need_maintenance
0,0.266201,-1.461536,-0.518929,0.706912,-1.091430,0.459160,0.168508,1.338492,-0.474127,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
1,0.376465,-0.876318,0.524312,1.503508,1.347922,0.833918,0.516350,-1.341279,-0.473052,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
2,0.912441,-1.461536,-1.214423,-0.089684,-0.963830,0.071111,0.516350,-1.341279,-0.237050,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
3,0.410906,0.879338,-0.171182,1.503508,0.141219,-1.556810,0.516350,1.338492,1.288884,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1
4,-0.638063,1.464556,-1.562170,0.706912,0.501554,-0.141118,0.168508,0.445235,0.688658,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1.548266,0.294119,0.176565,1.503508,0.507171,-1.695666,-0.527175,-0.448022,-1.605593,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
49996,-0.013140,0.879338,-0.518929,-1.204918,-1.441948,-0.222798,-0.527175,-0.448022,-0.022977,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1
49997,1.435224,-1.461536,-0.518929,-0.089684,1.144174,-1.584637,1.559876,-1.341279,1.687343,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1
49998,0.781138,-0.876318,0.524312,1.503508,0.641270,-1.721554,-0.527175,1.338492,-1.479705,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
49999,1.157758,-1.461536,1.567554,0.706912,-0.228144,-1.148272,0.168508,1.338492,0.463905,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  category
 1   mileage               50000 non-null  Int64
 2   maintenance_history   50000 non-null  category
 3   reported_issues       50000 non-null  Int64
 4   vehicle_age           50000 non-null  Int64
 5   fuel_type             50000 non-null  category
 6   transmission_type     50000 non-null  category
 7   engine_size           50000 non-null  Int64
 8   odometer_reading      50000 non-null  Int64
 9   last_service_date     50000 non-null  datetime64[ns]
 10  warranty_expiry_date  50000 non-null  datetime64[ns]
 11  owner_type            50000 non-null  category
 12  insurance_premium     50000 non-null  float64
 13  service_history       50000 non-null  Int64
 14  accident_history      50000 non-null  Int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  category
 17  brake_condition       50000 non-null  category
 18  battery_status        50000 non-null  category
 19  need_maintenance      50000 non-null  Int64
dtypes: Int64(8), category(8), datetime64[ns](2), float64(2)
memory usage: 5.3 MB

In [26]:
X

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good

In [38]:
df

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [39]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.25, random_state=42)

for train_index, test_index in split.split(df, df['need_maintenance']):
    strat_train_set = df.iloc[train_index]
    strat_test_set = df.iloc[test_index]

In [41]:
type(strat_train_set)

pandas.core.frame.DataFrame

In [4]:
import os
train_path = os.path.join('data\\transformedData\\trainData','train_data.parquet')

In [5]:
train_path

'data\\transformedData\\trainData\\train_data.parquet'

In [7]:
import pandas as pd
df3 = pd.read_parquet(train_path, engine='pyarrow')

In [8]:
df3

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,time_since_last_service,...,tire_condition_1,tire_condition_2,tire_condition_3,brake_condition_1,brake_condition_2,brake_condition_3,battery_status_1,battery_status_2,battery_status_3,need_maintenance
17481,0.045950,-0.876318,0.176565,-0.886280,0.609636,1.537473,-0.179333,-0.448022,-0.529043,-1.666642,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0
7663,-1.521149,-0.876318,1.567554,1.503508,-0.934610,0.372496,-0.875017,-0.448022,-0.460301,0.004540,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
28828,-0.143054,-0.291099,1.219806,-0.886280,-1.527819,0.762068,0.516350,0.445235,0.259993,-1.346848,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
17722,1.608397,0.879338,-0.518929,1.503508,0.700915,-0.027458,-1.222859,-0.448022,-1.701939,-0.439045,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1
20318,1.656516,-1.461536,1.219806,-1.204918,0.183087,-0.161884,0.168508,-1.341279,0.986257,-0.016091,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,0.112331,-1.461536,0.524312,0.706912,0.827773,-1.030044,-1.222859,-1.341279,0.003356,-1.068317,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1
9803,-0.363930,-1.461536,-1.562170,-1.204918,-0.644643,-1.388605,-0.179333,0.445235,-1.471188,0.344966,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
14544,-1.639884,-0.291099,-0.171182,1.503508,0.697550,0.441993,-0.527175,-1.341279,-0.643030,-0.779471,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1
30244,1.440640,-0.876318,0.176565,-0.886280,-1.462882,-0.765761,-0.527175,-1.341279,-0.032234,1.314665,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0
24519,-1.204590,-0.291099,0.872059,-1.204918,-1.698750,0.642317,0.864192,-0.448022,1.403169,-1.088949,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1

In [9]:
df = pd.read_parquet('data/transformedData/trainData/train_data.parquet', engine='pyarrow')
df

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,time_since_last_service,...,tire_condition_1,tire_condition_2,tire_condition_3,brake_condition_1,brake_condition_2,brake_condition_3,battery_status_1,battery_status_2,battery_status_3,need_maintenance
17481,0.045950,-0.876318,0.176565,-0.886280,0.609636,1.537473,-0.179333,-0.448022,-0.529043,-1.666642,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0
7663,-1.521149,-0.876318,1.567554,1.503508,-0.934610,0.372496,-0.875017,-0.448022,-0.460301,0.004540,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
28828,-0.143054,-0.291099,1.219806,-0.886280,-1.527819,0.762068,0.516350,0.445235,0.259993,-1.346848,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
17722,1.608397,0.879338,-0.518929,1.503508,0.700915,-0.027458,-1.222859,-0.448022,-1.701939,-0.439045,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1
20318,1.656516,-1.461536,1.219806,-1.204918,0.183087,-0.161884,0.168508,-1.341279,0.986257,-0.016091,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,0.112331,-1.461536,0.524312,0.706912,0.827773,-1.030044,-1.222859,-1.341279,0.003356,-1.068317,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1
9803,-0.363930,-1.461536,-1.562170,-1.204918,-0.644643,-1.388605,-0.179333,0.445235,-1.471188,0.344966,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
14544,-1.639884,-0.291099,-0.171182,1.503508,0.697550,0.441993,-0.527175,-1.341279,-0.643030,-0.779471,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1
30244,1.440640,-0.876318,0.176565,-0.886280,-1.462882,-0.765761,-0.527175,-1.341279,-0.032234,1.314665,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0
24519,-1.204590,-0.291099,0.872059,-1.204918,-1.698750,0.642317,0.864192,-0.448022,1.403169,-1.088949,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1

In [10]:
y = df['need_maintenance']
X = df.drop('need_maintenance', axis=1)

In [11]:
X

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,time_since_last_service,...,owner_type_Third,tire_condition_1,tire_condition_2,tire_condition_3,brake_condition_1,brake_condition_2,brake_condition_3,battery_status_1,battery_status_2,battery_status_3
17481,0.045950,-0.876318,0.176565,-0.886280,0.609636,1.537473,-0.179333,-0.448022,-0.529043,-1.666642,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
7663,-1.521149,-0.876318,1.567554,1.503508,-0.934610,0.372496,-0.875017,-0.448022,-0.460301,0.004540,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
28828,-0.143054,-0.291099,1.219806,-0.886280,-1.527819,0.762068,0.516350,0.445235,0.259993,-1.346848,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
17722,1.608397,0.879338,-0.518929,1.503508,0.700915,-0.027458,-1.222859,-0.448022,-1.701939,-0.439045,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
20318,1.656516,-1.461536,1.219806,-1.204918,0.183087,-0.161884,0.168508,-1.341279,0.986257,-0.016091,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,0.112331,-1.461536,0.524312,0.706912,0.827773,-1.030044,-1.222859,-1.341279,0.003356,-1.068317,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9803,-0.363930,-1.461536,-1.562170,-1.204918,-0.644643,-1.388605,-0.179333,0.445235,-1.471188,0.344966,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
14544,-1.639884,-0.291099,-0.171182,1.503508,0.697550,0.441993,-0.527175,-1.341279,-0.643030,-0.779471,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
30244,1.440640,-0.876318,0.176565,-0.886280,-1.462882,-0.765761,-0.527175,-1.341279,-0.032234,1.314665,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
24519,-1.204590,-0.291099,0.872059,-1.204918,-1.698750,0.642317,0.864192,-0.448022,1.403169,-1.088949,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [12]:
from sklearn.model_selection import GridSearchCV, train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [20]:
X_train

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,time_since_last_service,...,owner_type_Third,tire_condition_1,tire_condition_2,tire_condition_3,brake_condition_1,brake_condition_2,brake_condition_3,battery_status_1,battery_status_2,battery_status_3
38509,-0.013348,0.879338,1.567554,-0.886280,1.396311,-0.271252,-1.570701,-1.341279,1.503667,0.551285,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
16837,-0.752771,-0.291099,-0.518929,-0.089684,-1.587442,-1.357733,-0.527175,1.338492,0.585543,1.696355,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
5164,1.139844,-1.461536,0.524312,-0.089684,1.570723,0.481864,-1.222859,-0.448022,1.305592,-1.707906,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
11763,1.158036,-1.461536,-0.518929,-0.089684,-1.149057,0.080387,1.559876,-0.448022,-1.324582,-1.068317,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
5312,-1.066066,1.464556,0.176565,-1.204918,-0.680222,1.607524,-0.179333,-1.341279,0.302598,0.324335,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43731,-0.337961,-1.461536,1.567554,-0.089684,-0.074898,-0.095710,-0.875017,-0.448022,-1.382693,-1.553167,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
25304,1.336347,-0.876318,-0.866676,1.503508,-0.517879,-1.447027,-1.570701,1.338492,1.440711,-0.139883,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
27435,-1.124322,0.879338,-1.562170,0.706912,1.497060,0.414444,-1.222859,0.445235,0.409443,-0.284306,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
42373,1.456541,-0.876318,-0.171182,-0.886280,-0.097132,-0.339365,1.212034,-0.448022,-0.396216,-1.604746,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
22021,-1.357488,1.464556,1.567554,-0.886280,-1.362621,-0.338396,0.168508,0.445235,-0.054262,1.056766,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [21]:
y_train

38509    1
16837    0
5164     1
11763    1
5312     1
        ..
43731    0
25304    0
27435    1
42373    0
22021    1
Name: need_maintenance, Length: 28125, dtype: Int64

In [22]:
X_test

,mileage,reported_issues,vehicle_age,engine_size,odometer_reading,insurance_premium,service_history,accident_history,fuel_efficiency,time_since_last_service,...,owner_type_Third,tire_condition_1,tire_condition_2,tire_condition_3,brake_condition_1,brake_condition_2,brake_condition_3,battery_status_1,battery_status_2,battery_status_3
17094,-0.213532,-0.876318,1.219806,-0.886280,0.287433,-0.550486,-0.875017,0.445235,-1.657535,-1.150845,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
46977,0.283213,0.294119,-0.171182,0.706912,-1.001567,0.595801,-0.527175,0.445235,0.964776,1.386876,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
517,-1.460601,0.294119,-1.562170,1.503508,-1.264844,-0.977714,-0.179333,1.338492,1.035619,1.304349,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
36000,-1.309994,0.879338,-1.214423,-1.204918,0.036874,0.938164,0.516350,-0.448022,1.017318,0.819500,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4030,0.368411,0.879338,0.176565,-1.204918,-1.624924,1.666638,0.168508,-0.448022,-1.145257,0.994871,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34318,-0.532034,0.879338,0.524312,-1.204918,-0.706703,-0.190680,-0.527175,0.445235,-0.777671,-1.047685,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
47523,-1.718208,-0.291099,0.872059,-0.089684,1.220066,1.096540,-1.222859,1.338492,-1.171532,0.943291,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
36859,0.122608,0.294119,-1.214423,-0.089684,0.024527,-0.084219,0.168508,1.338492,-0.034176,-0.676312,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
35727,-0.789294,-0.876318,-1.214423,-1.204918,-1.068477,-1.576330,0.168508,-0.448022,-1.045357,1.438456,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
21607,0.583940,0.879338,1.567554,-1.204918,0.364369,1.470329,1.559876,1.338492,1.058973,-1.470639,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [23]:
y_test

17094    0
46977    1
517      1
36000    1
4030     1
        ..
34318    1
47523    0
36859    1
35727    1
21607    1
Name: need_maintenance, Length: 9375, dtype: Int64