In [103]:
import pandas as pd
import numpy as np
import os
import logging

In [104]:
df = pd.read_parquet('data/validatedData/validated_data.parquet', engine="pyarrow")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  category
 1   mileage               50000 non-null  Int64
 2   maintenance_history   50000 non-null  category
 3   reported_issues       50000 non-null  Int64
 4   vehicle_age           50000 non-null  Int64
 5   fuel_type             50000 non-null  category
 6   transmission_type     50000 non-null  category
 7   engine_size           50000 non-null  Int64
 8   odometer_reading      50000 non-null  Int64
 9   last_service_date     50000 non-null  datetime64[ns]
 10  warranty_expiry_date  50000 non-null  datetime64[ns]
 11  owner_type            50000 non-null  category
 12  insurance_premium     50000 non-null  float64
 13  service_history       50000 non-null  Int64
 14  accident_history      50000 non-null  Int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  category
 17  brake_condition       50000 non-null  category
 18  battery_status        50000 non-null  category
 19  need_maintenance      50000 non-null  Int64
dtypes: Int64(8), category(8), datetime64[ns](2), float64(2)
memory usage: 5.3 MB

In [105]:
df

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  category
 1   mileage               50000 non-null  Int64
 2   maintenance_history   50000 non-null  category
 3   reported_issues       50000 non-null  Int64
 4   vehicle_age           50000 non-null  Int64
 5   fuel_type             50000 non-null  category
 6   transmission_type     50000 non-null  category
 7   engine_size           50000 non-null  Int64
 8   odometer_reading      50000 non-null  Int64
 9   last_service_date     50000 non-null  datetime64[ns]
 10  warranty_expiry_date  50000 non-null  datetime64[ns]
 11  owner_type            50000 non-null  category
 12  insurance_premium     50000 non-null  float64
 13  service_history       50000 non-null  Int64
 14  accident_history      50000 non-null  Int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  category
 17  brake_condition       50000 non-null  category
 18  battery_status        50000 non-null  category
 19  need_maintenance      50000 non-null  Int64
dtypes: Int64(8), category(8), datetime64[ns](2), float64(2)
memory usage: 5.3 MB

# DATA INGESTION

# EDA

DATA DESCRIPTION

In [28]:
df.columns = map(str.lower, df.columns)

In [29]:
df

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,23-11-2023,24-06-2025,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,21-09-2023,04-06-2025,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,27-06-2023,27-04-2025,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,24-08-2023,05-11-2025,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,25-05-2023,14-09-2025,Third,16446,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,24-11-2023,15-09-2025,Third,5217,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,14-07-2023,21-01-2025,Second,15856,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,09-09-2023,09-11-2024,First,6019,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,26-08-2023,22-05-2025,Third,5030,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,25-07-2023,06-06-2024,Third,9171,6,3,16.328945,Good,New,Good,0

In [55]:
from vmpred.util.util import read_yaml_file

schema = read_yaml_file(file_path='config/schema.yaml')

In [56]:
columns = schema["columns"]
column_names = list(columns.keys())

In [34]:
columns

{'vehicle_model': 'category',
 'mileage': 'integer',
 'maintenance_history': 'category',
 'reported_issues': 'integer',
 'vehicle_age': 'integer',
 'fuel_type': 'category',
 'transmission_type': 'category',
 'engine_size': 'integer',
 'odometer_reading': 'integer',
 'last_service_date': 'date',
 'warranty_expiry_date': 'date',
 'owner_type': 'category',
 'insurance_premium': 'float',
 'service_history': 'integer',
 'accident_history': 'integer',
 'fuel_efficiency': 'float',
 'tire_condition': 'category',
 'brake_condition': 'category',
 'battery_status': 'category',
 'need_maintenance': 'integer'}

In [35]:
column_names

['vehicle_model',
 'mileage',
 'maintenance_history',
 'reported_issues',
 'vehicle_age',
 'fuel_type',
 'transmission_type',
 'engine_size',
 'odometer_reading',
 'last_service_date',
 'warranty_expiry_date',
 'owner_type',
 'insurance_premium',
 'service_history',
 'accident_history',
 'fuel_efficiency',
 'tire_condition',
 'brake_condition',
 'battery_status',
 'need_maintenance']

In [37]:
if not all(col in df.columns for col in column_names):
    missing_cols = set(column_names) - set(df.columns)

In [38]:
df.columns

Index(['vehicle_model', 'mileage', 'maintenance_history', 'reported_issues',
       'vehicle_age', 'fuel_type', 'transmission_type', 'engine_size',
       'odometer_reading', 'last_service_date', 'warranty_expiry_date',
       'owner_type', 'insurance_premium', 'service_history',
       'accident_history', 'fuel_efficiency', 'tire_condition',
       'brake_condition', 'battery_status', 'need_maintenance'],
      dtype='object')

In [40]:
for col in df.columns:
    print(col)

vehicle_model
mileage
maintenance_history
reported_issues
vehicle_age
fuel_type
transmission_type
engine_size
odometer_reading
last_service_date
warranty_expiry_date
owner_type
insurance_premium
service_history
accident_history
fuel_efficiency
tire_condition
brake_condition
battery_status
need_maintenance

In [41]:
for col in column_names:
    print(col)

vehicle_model
mileage
maintenance_history
reported_issues
vehicle_age
fuel_type
transmission_type
engine_size
odometer_reading
last_service_date
warranty_expiry_date
owner_type
insurance_premium
service_history
accident_history
fuel_efficiency
tire_condition
brake_condition
battery_status
need_maintenance

In [60]:
df_cols_lower = set(map(str.lower, df.columns))
column_names_lower = set(map(str.lower, column_names))


if not column_names_lower.issubset(df_cols_lower):
    missing_cols = column_names_lower - df_cols_lower
    raise Exception(f"Following columns are missing in csv file (case-insensitive): {missing_cols}")
else:
    print("Successfull")

Successfull

In [62]:
df_cols_lower

{'accident_history',
 'battery_status',
 'brake_condition',
 'engine_size',
 'fuel_efficiency',
 'fuel_type',
 'insurance_premium',
 'last_service_date',
 'maintenance_history',
 'mileage',
 'need_maintenance',
 'odometer_reading',
 'owner_type',
 'reported_issues',
 'service_history',
 'tire_condition',
 'transmission_type',
 'vehicle_age',
 'vehicle_model',
 'warranty_expiry_date'}

In [63]:
column_names_lower

{'accident_history',
 'battery_status',
 'brake_condition',
 'engine_size',
 'fuel_efficiency',
 'fuel_type',
 'insurance_premium',
 'last_service_date',
 'maintenance_history',
 'mileage',
 'need_maintenance',
 'odometer_reading',
 'owner_type',
 'reported_issues',
 'service_history',
 'tire_condition',
 'transmission_type',
 'vehicle_age',
 'vehicle_model',
 'warranty_expiry_date'}

In [66]:
if df_cols_lower == column_names_lower:
    print('True')
else:
    print("False")

True

In [67]:
df.columns = map(str.lower, df.columns)

In [43]:
missing_cols

NameError: name 'missing_cols' is not defined

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  object
 1   mileage               50000 non-null  int64
 2   maintenance_history   50000 non-null  object
 3   reported_issues       50000 non-null  int64
 4   vehicle_age           50000 non-null  int64
 5   fuel_type             50000 non-null  object
 6   transmission_type     50000 non-null  object
 7   engine_size           50000 non-null  int64
 8   odometer_reading      50000 non-null  int64
 9   last_service_date     50000 non-null  object
 10  warranty_expiry_date  50000 non-null  object
 11  owner_type            50000 non-null  object
 12  insurance_premium     50000 non-null  int64
 13  service_history       50000 non-null  int64
 14  accident_history      50000 non-null  int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  object
 17  brake_condition       50000 non-null  object
 18  battery_status        50000 non-null  object
 19  need_maintenance      50000 non-null  int64
dtypes: float64(1), int64(9), object(10)
memory usage: 7.6+ MB

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  object
 1   mileage               50000 non-null  int64
 2   maintenance_history   50000 non-null  object
 3   reported_issues       50000 non-null  int64
 4   vehicle_age           50000 non-null  int64
 5   fuel_type             50000 non-null  object
 6   transmission_type     50000 non-null  object
 7   engine_size           50000 non-null  int64
 8   odometer_reading      50000 non-null  int64
 9   last_service_date     50000 non-null  object
 10  warranty_expiry_date  50000 non-null  object
 11  owner_type            50000 non-null  object
 12  insurance_premium     50000 non-null  int64
 13  service_history       50000 non-null  int64
 14  accident_history      50000 non-null  int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  object
 17  brake_condition       50000 non-null  object
 18  battery_status        50000 non-null  object
 19  need_maintenance      50000 non-null  int64
dtypes: float64(1), int64(9), object(10)
memory usage: 7.6+ MB

In [79]:
dtype_mapping = {
            "integer": "Int64",
            "float": "float64",
            "category": "object",
            "date": "datetime64[ns]"
        }

for col, dtype in schema["columns"].items():
    expected_dtype = dtype_mapping.get(dtype)  # Use get() to handle missing keys
    if expected_dtype is None:
        logging.warning(f"Unknown dtype '{dtype}' for column '{col}'. Skipping conversion.")
        continue

    if expected_dtype == "datetime64[ns]":
        #Explicitly handle date conversion with format specified
        df[col] = pd.to_datetime(df[col], format='%d-%m-%Y', errors='coerce') 
    else:
        df[col] = df[col].astype(expected_dtype)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  object
 1   mileage               50000 non-null  Int64
 2   maintenance_history   50000 non-null  object
 3   reported_issues       50000 non-null  Int64
 4   vehicle_age           50000 non-null  Int64
 5   fuel_type             50000 non-null  object
 6   transmission_type     50000 non-null  object
 7   engine_size           50000 non-null  Int64
 8   odometer_reading      50000 non-null  Int64
 9   last_service_date     50000 non-null  datetime64[ns]
 10  warranty_expiry_date  50000 non-null  datetime64[ns]
 11  owner_type            50000 non-null  object
 12  insurance_premium     50000 non-null  float64
 13  service_history       50000 non-null  Int64
 14  accident_history      50000 non-null  Int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  object
 17  brake_condition       50000 non-null  object
 18  battery_status        50000 non-null  object
 19  need_maintenance      50000 non-null  Int64
dtypes: Int64(8), datetime64[ns](2), float64(2), object(8)
memory usage: 8.0+ MB

In [72]:
import glob
csv_files = glob.glob(os.path.join(os.getcwd(),"data\\ingestedData","*.csv"))

csv_files

['c:\\Users\\Sahil Khan\\Desktop\\Vehicle_Maintenance_Prediction\\data\\ingestedData\\vehicle_maintenance_data.csv']

In [73]:
for file_path in csv_files:
    df = pd.read_csv(file_path)

df

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,23-11-2023,24-06-2025,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,21-09-2023,04-06-2025,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,27-06-2023,27-04-2025,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,24-08-2023,05-11-2025,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,25-05-2023,14-09-2025,Third,16446,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,24-11-2023,15-09-2025,Third,5217,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,14-07-2023,21-01-2025,Second,15856,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,09-09-2023,09-11-2024,First,6019,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,26-08-2023,22-05-2025,Third,5030,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,25-07-2023,06-06-2024,Third,9171,6,3,16.328945,Good,New,Good,0

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Vehicle_Model         50000 non-null  object
 1   Mileage               50000 non-null  int64
 2   Maintenance_History   50000 non-null  object
 3   Reported_Issues       50000 non-null  int64
 4   Vehicle_Age           50000 non-null  int64
 5   Fuel_Type             50000 non-null  object
 6   Transmission_Type     50000 non-null  object
 7   Engine_Size           50000 non-null  int64
 8   Odometer_Reading      50000 non-null  int64
 9   Last_Service_Date     50000 non-null  object
 10  Warranty_Expiry_Date  50000 non-null  object
 11  Owner_Type            50000 non-null  object
 12  Insurance_Premium     50000 non-null  int64
 13  Service_History       50000 non-null  int64
 14  Accident_History      50000 non-null  int64
 15  Fuel_Efficiency       50000 non-null  float64
 16  Tire_Condition        50000 non-null  object
 17  Brake_Condition       50000 non-null  object
 18  Battery_Status        50000 non-null  object
 19  Need_Maintenance      50000 non-null  int64
dtypes: float64(1), int64(9), object(10)
memory usage: 7.6+ MB

In [75]:
df.columns = map(str.lower, df.columns)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_model         50000 non-null  object
 1   mileage               50000 non-null  int64
 2   maintenance_history   50000 non-null  object
 3   reported_issues       50000 non-null  int64
 4   vehicle_age           50000 non-null  int64
 5   fuel_type             50000 non-null  object
 6   transmission_type     50000 non-null  object
 7   engine_size           50000 non-null  int64
 8   odometer_reading      50000 non-null  int64
 9   last_service_date     50000 non-null  object
 10  warranty_expiry_date  50000 non-null  object
 11  owner_type            50000 non-null  object
 12  insurance_premium     50000 non-null  int64
 13  service_history       50000 non-null  int64
 14  accident_history      50000 non-null  int64
 15  fuel_efficiency       50000 non-null  float64
 16  tire_condition        50000 non-null  object
 17  brake_condition       50000 non-null  object
 18  battery_status        50000 non-null  object
 19  need_maintenance      50000 non-null  int64
dtypes: float64(1), int64(9), object(10)
memory usage: 7.6+ MB

In [81]:
df_cols_lower = set(df.columns)
column_names_lower = set(column_names)


if column_names_lower != df_cols_lower:
    print('True')
else:
    print('False')

False

In [82]:
df

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [83]:
compiledf = pd.DataFrame()
compiledf

Empty DataFrame
Columns: []
Index: []

In [84]:
compiledf = pd.concat([compiledf,df], ignore_index=True)

In [85]:
compiledf

,vehicle_model,mileage,maintenance_history,reported_issues,vehicle_age,fuel_type,transmission_type,engine_size,odometer_reading,last_service_date,warranty_expiry_date,owner_type,insurance_premium,service_history,accident_history,fuel_efficiency,tire_condition,brake_condition,battery_status,need_maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782.0,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489.0,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979.0,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220.0,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446.0,6,2,16.977483,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217.0,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856.0,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019.0,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030.0,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171.0,6,3,16.328945,Good,New,Good,0

In [91]:
dtype_mapping = {
            "integer": "Int64",
            "float": "float64",
            "category": "object",  # Start with object, then convert to category
            "date": "datetime64[ns]"
        }

for _, dtype in schema['columns'].items():
    print(dtype_mapping.get(dtype))

object
Int64
object
Int64
Int64
object
object
Int64
Int64
datetime64[ns]
datetime64[ns]
object
float64
Int64
Int64
float64
object
object
object
Int64